@import "./mixins/fonts-themes";

.primary_button {
  border: none;
  background: #000;
  @include myriad(14px, #fff);
  text-transform: uppercase;
  padding: 18px;
  width: 100%;
  cursor: pointer;
  outline: none;
  transition: 0.1s;
  &:hover {
    background: rgb(19, 18, 18);
  }
  &:active {
    box-shadow: inset 2px 2px 10px #000;
  }
}

.primary_input {
  padding: 15px;
  outline: none;
  border: none;
  color: #6c6c6c;
  @include myriad(14px, #6c6c6c);
  width: 75%;
  @media screen and (max-width: 768px) {
    width: 88%;
  }
}

.input_button {
  position: absolute;
  right: 0;
  height: 46px;
  top: 0;
  width: 56px;
  text-transform: uppercase;
  @include myriad(15px, #000);
  border: none;
  background: #c7c7c7;
  outline: none;
  transition: 0.1s;
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  &:active {
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.5);
  }
}
