@import "./mixins/fonts-themes";

.features {
  &_container {
    padding: 120px 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1200px) {
      padding: 120px 8%;
    }
    @media screen and (max-width: 992px) {
      padding: 30px;
    }
  }
  &_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 220px);
      column-gap: 100px;
      row-gap: 30px;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, 220px);
      column-gap: 100px;
      row-gap: 30px;
    }
  }
  &_img {
    width: 100%;
    height: 160px;
    background: url("../img/card-img.jpg") 50% 50% no-repeat;
    background-size: cover;
  }
  &_description {
    @include myriad(16px, #000);
    line-height: 30px;
    margin: 20px 0 0 0;
  }
  &_title {
    @include segoe(48px, #000);
    text-transform: uppercase;
    margin: 0 0 35px 0;
    @media screen and (max-width: 768px) {
      font-size: 28px;
    }
    &_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 80px;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }
}
